.image-gallery-slide img {
    background: black;
    /*width: 100%;*/
    height: auto;
    height: 60vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    height: 70vh !important;
}
